{include file="index/zoneheader.html"}
<style>
    div.content li{
        padding:25px 100px 30px 20px;
    }
    div.content li a {
        display: block;
        width:70%;
    }
    div.content li a >div{
        width:50px;height:50px;
        overflow: hidden;
        border-radius: 8px;
    }
    div.content li a >div img{
        width:100%;
    }
    div.display{
        width:200px;
        height:80px;
        background: #ccc;
        color: #ffffff;
        border-radius: 10px;
        text-align: center;
        line-height: 80px;
        font-size: 20px;
        display: none;
        position: fixed;
        top:200px;
        left:500px;
        z-index: 5;
    }
</style>
<div class="content">
    <ul>
        {foreach $cang as $val}
        {foreach $member1 as $v}
        {if $val['uid2']==$v['mid']}
        <li class="{$val['gid']}">
            <a href="index.php?f=zone&a=init&mid={$v['mid']}">
               <h4>{$v['mname']}</h4>
            </a>
            <button type="button" class="display btn btn-info">删除</button>
        </li>
        {/if}
        {/foreach}
        {/foreach}
    </ul>
</div>
<div class="display"></div>
<script>
    $("div.content ul").bind('mouseover',function (e) {
        if(e.target && e.target.nodeName == "LI"){
            e.stopPropagation();
            $(e.target).children("select").toggle();
        }
    })
    $("div.content ul button").click(function () {
        let id=$(this).parent().attr("class");
        $.ajax({
            url: "index.php?m=index&f=zone&a=cangdel",
            type:"post",
            data:{ id:id },
            success:function(e){
                $(".display").html(e).css("display","block");
                setTimeout(function () {
                    $(".display").css("display","none");
                    $("div.content > ul > li."+id).remove();
                },1500)
            }
        })
    })
</script>
</body>
</html>