{include file="index/header.html"}

<nav class="nav">
    {if $nomember=="ok"}
    <h2>{$mname}空间</h2>
    {else}
    <h2>{$member1[0]['mname']}空间</h2>
    {/if}
    <p>{$member['sign']}</p>
    <div class="img">
        <img src="{$member['mimg']}" alt="">
    </div>
    <div class="header">
        {if $nomember=="ok"}
        <a href="index.php?m=index&f=zone&a=init">随心说</a>
        <a href="index.php?m=index&f=zone&a=artlist">日记</a>
        <a href="index.php?m=index&f=zone&a=cang">我收藏</a>
        <a href="index.php?m=index&f=zone&a=guanzhu">我关注</a>
        <a href="index.php?m=index&f=zone&a=love">关注我</a>
        {else}
        <a href="index.php?m=index&f=zone&a=init&status=2&mid={$mid}">随心说</a>
        <a href="index.php?m=index&f=zone&a=artlist&status=2&mid={$mid}">日记</a>
        <a href="index.php?m=index&f=zone&a=cang&mid={$mid}">收藏</a>
        <a href="index.php?m=index&f=zone&a=guanzhu&mid={$mid}">关注</a>
        {/if}
    </div>
</nav>
<style>
    nav.nav{
        width:100%;
        height:220px;
        background: #f9e2b3;
        padding:30px;
        box-sizing: border-box;
        display: block;
        position: relative;
        margin: 0;
    }
    nav.nav h2{
        display: block;
        height:50px;
    }
    nav.nav p{
        height:50px;
    }
    nav.nav .img{
        width:100px;
        height:100px;
        overflow: hidden;
        position: absolute;
        bottom: -30px;
        left:180px;
        border: 5px solid #fff;
    }
    nav.nav .img > img{
        width:100%;
    }
    nav.nav .header{
        float: right;
        margin-right: 150px;
        width:400px;
        display: flex;
        justify-content: space-around;
        font-size: 20px;
    }
    div.content{
        width:1000px;
        margin:0 auto;
        background: lightcyan;
        padding:50px;
    }
    div.content  li:first-child{
        border-top: 1px solid #d2d2d2;
    }
    div.content  li {
        border-bottom: 1px solid #d2d2d2;
        padding-bottom: 20px;
        height:auto;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    div.content li > select{
        width:60px;
        border: 0;
        position: absolute;
        top:20px;
        right:20px;
        display: none;
        outline: none;
    }
    div.content li > select > option{
        outline: none;
        border: none;
    }

</style>