{include file="index/zoneheader.html"}
<script src="{JS_PATH}upload.js"></script>
<style>
    div.content  li > div{
        width:87%;
    }
    div.content  li p:last-of-type{
        font-size: 12px;
        color:#8c8c8c;
    }

    div.content  li>p:first-child{
        /*float: left;*/
        margin-right: 20px;
    }
    div.content  li img{
        width:100px;
    }
    div.content > div.sign{
        text-align: right;
    }
    div.content > div.say{
        width:100%;
        height:auto;
        /*height:50px;*/
        overflow: hidden;
        position: relative;
    }
    div.content > div.say  textarea{
        width:60%;
        height:75px;
        display: block;
        resize: none;
        margin:15px 0;
        float: left;
    }
    div.content > div.say  div.img{
        float: left;
        margin:15px 15px 0 15px;
    }
    div.content > div.say div.radio{
        margin-top:15px;
        float: left;
    }

    div.display{
        width:200px;
        height:80px;
        background: #ccc;
        color: #ffffff;
        border-radius: 10px;
        text-align: center;
        line-height: 80px;
        font-size: 20px;
        display: none;
        position: fixed;
        top:200px;
        left:500px;
        z-index: 5;
    }
</style>
<div class="content">
    {if $nomember=="ok"}
    <div class="say">
        <form action="index.php?m=index&f=zone&a=say" >
            <textarea name="say" id=""></textarea>
            <div class="img" >
                <div class="uploadbox">
                    <input type="hidden" id="img" name="imgurl" value="" >
                </div>
            </div>
            <div class="display">
            </div>
            <div class="radio">私密<input type="radio" name="status" value="1" ></div>
            <div class="radio">公开<input type="radio" name="status" value="2" checked></div>
            <button class="btn btn-default">发表</button>
        </form>
    </div>
    {/if}
    <ul>
        {foreach $content as $v}
        <li class="{$v['lid']}">
            {if $nomember=="ok"}
            <select name="active" id="{$v['lid']}" onchange="ooo(this.id)">
                <option>操作</option>
                <option value="0">删除</option>
                {if {$v['status']} eq 2}
                <option value="1">私密</option>
                {else}
                <option value="2">公开</option>
                {/if}
            </select>
            {/if}
            {if {$v['limg']} != ""}
            <p><img src="{$v['limg']}" alt=""></p>
            {/if}
            <div>
                <p class="one">{$v['ltitle']}</p>
                <p>{$v['ltime']}</p>
            </div>

        </li>
        {/foreach}
    </ul>
</div>
<script src="{JS_PATH}zone.js"></script>
<script>
    function ooo(id) {
        let aa=$("div.content li."+id+" > select").val();
        if(aa==0){
            $.ajax({
                url: "index.php?m=index&f=zone&a=del",
                type:"post",
                data:{ id:id },
                success:function(e){
                    console.log(e)
                    $(".display").html(e).css("display","block");
                    setTimeout(function () {
                        $(".display").css("display","none");
                        $("div.content > ul > li."+id).remove();
                    },1500)
                }
            })
        }else{
            $.ajax({
                url:"index.php?m=index&f=zone&a=status",
                type:"post",
                data:{ aa:aa,id:id},
                success:function(e){
                    console.log(e)
                    $(".display").html(e).css("display","block");
                    setTimeout(function () {
                        let str=`<option selected>操作</option>
                            <option value="0">删除</option>`;
                        if(aa==2){
                            str+="<option value='1'>私密</option>";
                        }else{
                            str+="<option value='2'>公开</option>";
                        }
                        $(".display").css("display","none");
                        $("div.content > ul > li."+id+"> select").remove();
                        $(`<select name='active' id='${ id }'>`).html(str).appendTo("div.content > ul > li."+id);
                    },1500)
                }
            })
        }

    }
</script>
</body>
</html>
